<div class='main-container'>
  {{nav-header user=model.user}}
  <div class='content-container'>
    {{restaurant-card restaurants=model.restaurants}}
    {{orders-liked-card restaurants=model.restaurants}}
    {{orders-disliked-card restaurants=model.restaurants}}
  </div>
  {{log 'model' model}}
</div>
{{outlet}}