<div class='main-container'>
  {{nav-header user=model.user}}
  <div class='content-container'>
    {{restaurant-card restaurants=model.restaurants}}
    {{orders-liked-card orders=model.orders}}
    {{orders-disliked-card orders=model.orders}}
  </div>
</div>
{{outlet}}